@import 'angular-calendar/css/angular-calendar.css';
@import '~@angular/material/theming';
@import '_breakpoints.scss';

.calendar {
    padding: 5px;
    
    &.content {
        padding: 20px;
    }
}
.cal-cell{

    .cal-cell-top {
        min-height: 50px !important;
    }

    .cal-events {
        margin: 0;

        .cal-event {
            width: 100% !important;
            height: 20px !important;
            display: block;
            border-radius: 5px;
            margin: 0;
            @include mat-elevation(10);
        }
    }
}

.cal-event-background{
    background-color: aquamarine !important;
}

.fill-height {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }