<div [formGroup]="form">
    <label [attr.for]="formField.key">{{formField.label}}</label>

    <div [ngSwitch]="formField.controlType">

        <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="Clearable input" *ngSwitchCase="'textbox'" [formControlName]="formField.key" [id]="formField.key" />
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>


        <select *ngSwitchCase="'dropdown'" [formControlName]="formField.key" [id]="formField.key">
          <option *ngFor="let option of formField.options" [value]="option.key">{{option.value}}</option>
        </select>

    </div>

    <div class="errorMessage" *ngIf="!isValid">{{formField.label}} is required</div>

</div>