<div class="center" appComponentLoader="1">
  <h2>Basic</h2>
  <div toggle #firstToggle="toggle" [_id]="1" (toggle)="onToggle('first', $event)">
    <p>
      First:
      <toggle-on>On</toggle-on>
      <toggle-off>Off</toggle-off>
      <toggle-button></toggle-button>
    </p>
    <toggle #secondToggle="toggle" [_id]="2" (toggle)="onToggle('second', $event)">
      <p>
        Second:
        <toggle-on>On</toggle-on>
        <toggle-off>Off</toggle-off>
        <toggle-button></toggle-button>
      </p>
    </toggle>
  </div>

  <button mat-raised-button color="primary" (click)="openDialog($event)" >open</button>

  <span style="width: 25%;">
    <app-filter-panel [filterConfiguration]="conf" ></app-filter-panel>
  </span>

  <h2>Explicit References</h2>
  <p [withToggle]="firstToggle">
    First:
    <toggle-on>On</toggle-on>
    <toggle-off>Off</toggle-off>
    <toggle-button></toggle-button>
  </p>
  <p [withToggle]="secondToggle">
    Second:
    <toggle-on>On</toggle-on>
    <toggle-off>Off</toggle-off>
    <toggle-button></toggle-button>
  </p>

  <h2>Custom Components</h2>
  <div [withToggle]="firstToggle">
    <labelled-state toggleName="First"></labelled-state>
    <labelled-button toggleName="First"></labelled-button>
  </div>
  <labelled-state toggleName="Second" [withToggle]="secondToggle"> </labelled-state>
  <labelled-button toggleName="Second" [withToggle]="secondToggle"> </labelled-button>

</div>

<div style="width:20%; background:grey;">
  lol
  <div appComponentLoader="2">


    asdbnasjkdbjkasbhd
    asdajskas
    aksdjksaj
  </div>
</div>
<button mat-raised-button color="warn" (click)="componentService.start(1)" >Start</button>
<button mat-raised-button color="warn" (click)="componentService.end(1)" >End</button>
<button mat-raised-button color="warn" (click)="componentService.start(2)" >Start</button>
<button mat-raised-button color="warn" (click)="componentService.end(2)" >End</button>



<div class="responsive">
  <div class="cell"> Hello Holiday </div>
</div>

