.padding-vertical-10 {
    padding: 10px 0px;
}

.event-heading {
    // width: 100%;
    height: 25%;
    background: #039be5;
    // padding-right: 48px;
    margin: 0 -24px;
    margin-bottom: 24px;
    padding: 12px;
}

.event-heading-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15pt;
}

.mat-dialog-content {
    margin-top: -24px;
}