<!-- <div class="row text-center">
  <div class="col-md-4">
      <div class="btn-group">
          <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
              Previous
          </div>
          <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
              Today
          </div>
          <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
              Next
          </div>
      </div>
  </div>
  <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h3>
  </div>
  <div class="col-md-4">
      <div class="btn-group">
          <div class="btn btn-primary" (click)="viewChange.emit('month')" [class.active]="view === 'month'">
              Month
          </div>
          <div class="btn btn-primary" (click)="viewChange.emit('week')" [class.active]="view === 'week'">
              Week
          </div>
          <div class="btn btn-primary" (click)="viewChange.emit('day')" [class.active]="view === 'day'">
              Day
          </div>
      </div>
  </div>
</div>
<br> -->
<mat-toolbar class="mat-elevation-z5">
	<mat-toolbar-row class="mat-elevation-z1" fxLayout="row" fxLayoutAlign="space-around center">
		<div class="logo" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">

			<mat-icon class="logo-icon">today</mat-icon>
			<span class="logo-text">{{(configuration.Title) || 'Calendar'}}</span>
		</div>
	</mat-toolbar-row>

	<mat-toolbar-row class="mat-elevation-z1" fxLayout="row" fxLayoutAlign="center center" >
        <div fxFlex="20"></div>
        <div class="control"  fxFlex="60" fxLayout="row" fxLayoutAlign="center center">

            <button mat-button class="mat-icon-button arrow mat-elevation-z1"  fxLayoutAlign="center center" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate); headerService.calendarPrevious.next()"
                aria-label="Previous">
                <mat-icon>chevron_left</mat-icon>
            </button>

            <div class="title" fxFlex="50" fxLayoutAlign="center center">
                {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
            </div>

            <button mat-button class="mat-icon-button arrow mat-elevation-z1"  fxLayoutAlign="center center" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate); headerService.calendarNext.next()"
                aria-label="Next">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>

		<div class="toolbar"  fxFlex="20" fxLayout="row" fxLayoutAlign="end center">
			<button mat-button class="mat-icon-button" mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate); headerService.calendarToday.next()"
			    aria-label="Today" matTooltip="Today">
				<mat-icon>today</mat-icon>
			</button>

			<button *ngIf="configuration.ActiveDayViewButton" mat-button class="mat-icon-button" (click)="viewChange.emit('day')" aria-label="Day"
			    matTooltip="Day">
				<mat-icon>view_day</mat-icon>
			</button>

			<button *ngIf="configuration.ActiveWeekViewButton" mat-button class="mat-icon-button" (click)="viewChange.emit('week')" aria-label="Week"
			    matTooltip="Week">
				<mat-icon>view_week</mat-icon>
			</button>

			<button *ngIf="configuration.ActiveMonthViewButton" mat-button class="mat-icon-button" (click)="viewChange.emit('month')"
			    aria-label="Month" matTooltip="Month">
				<mat-icon>view_module</mat-icon>
			</button>
		</div> 

	</mat-toolbar-row>
</mat-toolbar>

<!-- <div id="calendar" class="page-layout simple fullwidth"> -->
	<!-- HEADER -->
	<!-- <div class="header p-16 p-sm-24" [ngClass]="viewDate | date:'MMM'">

		<div class="header-content" fxLayout="column" fxLayoutAlign="space-between">

			<div class="header-top" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column">

				<div class="logo mb-16 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">

					<mat-icon class="logo-icon">today</mat-icon>

					<span class="logo-text">{{(configuration.Title) || 'Calendar'}}</span>

				</div> -->

				<!-- TOOLBAR -->
				<!-- <div class="toolbar" fxLayout="row" fxLayoutAlign="start center"> -->

					<!-- <button mat-button class="mat-icon-button" aria-label="Search" matTooltip="Search">
                        <mat-icon>search</mat-icon>
                    </button> -->

					<!-- <button mat-button class="mat-icon-button" mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate); headerService.calendarToday.next()"
					    aria-label="Today" matTooltip="Today">
						(click)="selectedDay = viewDate" -->
						<!-- <mat-icon>today</mat-icon> -->
					<!-- </button>

					<button *ngIf="configuration.ActiveDayViewButton" mat-button class="mat-icon-button" (click)="viewChange.emit('day')" aria-label="Day"
					    matTooltip="Day">
						<mat-icon>view_day</mat-icon>
					</button>

					<button *ngIf="configuration.ActiveWeekViewButton" mat-button class="mat-icon-button" (click)="viewChange.emit('week')" aria-label="Week"
					    matTooltip="Week">
						<mat-icon>view_week</mat-icon>
					</button>

					<button *ngIf="configuration.ActiveMonthViewButton" mat-button class="mat-icon-button" (click)="viewChange.emit('month')"
					    aria-label="Month" matTooltip="Month">
						<mat-icon>view_module</mat-icon>
					</button>
				</div>
			</div> -->
			<!-- / TOOLBAR -->

			<!-- HEADER BOTTOM -->
			<!-- <div class="header-bottom" fxLayout="row" fxLayoutAlign="center center">

				<button mat-button class="mat-icon-button arrow" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate); headerService.calendarPrevious.next()"
				    aria-label="Previous">
					<mat-icon>chevron_left</mat-icon>
				</button>

				<div class="title">
					{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
				</div>

				<button mat-button class="mat-icon-button arrow" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate); headerService.calendarNext.next()"
				    aria-label="Next">
					<mat-icon>chevron_right</mat-icon>
				</button>
			</div> -->
			<!-- / HEADER BOTTOM -->
		<!-- </div>

	</div> -->

